<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278500852071-0mkcnu73817l8f1um1ntte63ls6823mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278500852071-0mkcnu73817l8f1um1ntte63ls6823mv</string>
	<key>API_KEY</key>
	<string>AIzaSyDi8sbHIboGWcLW0GE1rTBUJ8ZqlvlZXIs</string>
	<key>GCM_SENDER_ID</key>
	<string>278500852071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meet.justafghans</string>
	<key>PROJECT_ID</key>
	<string>justafghans-fdf35</string>
	<key>STORAGE_BUCKET</key>
	<string>justafghans-fdf35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278500852071:ios:40ac1e606310f680d0efc2</string>
</dict>
</plist>